<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <meta name="keywords" content="website,keywords,here" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/bootstrap.min.css') }}">
  
  <script type="text/javascript" src="{{ url_for('static', filename='dist/js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='dist/js/bootstrap.min.js') }}"></script>

  <script type="text/javascript">

  function playSong (song){
    $('audio').attr('src', '/static/music/'+song);
    //recupere l'argument audio de la page (balise) et lui ajoute les param de source (ajout du path)
  }
  
  function playRadio (radio){
    $('audio').attr('src', ''+radio);
    //recupere l'argument audio de la page (balise) et lui ajoute les param de source (ajout du path)
  }
   
    
  function UR_Start() 
  {
    UR_Nu = new Date;
    UR_Indhold = showFilled({{ heures }}) + ":" + showFilled({{ minutes }}) + ":" + showFilled({{ secondes }});
    document.getElementById("ur").innerHTML = UR_Indhold;
    setTimeout("UR_Start()",1000);
  }
  function showFilled(Value) 
  {
      return (Value > 9) ? "" + Value : "0" + Value;
  }
  </script>
  
  
  <title>Login APiClock</title>
</head>

<body onload="UR_Start(); "> <!-- on lance le script JS de l'horloge -->

<div class="col-md-12">
            <div class=metanav>
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
</div>

<div class="container">
<!-- Main content -->
    <div class="row">
            {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
            <font id="ur" size="20" face="Trebuchet MS, Verdana, Arial, sans-serif" color="#000000"></font>
            <hr>
        </div>
        <div class="col-md-4 col-md-offset-4">
        <form action="{{ url_for('login') }}" method=post>
            <fieldset>
                <legend>Identification</legend>
                {% for field in form %}
                <div class="form.group">
                    {% if field.type == 'SubmitField' %}
                    <br /> {{ field(class="btn btn-primary") }} 
                    {% else %}
                    {{ field.label }} {{ field(class="form-control") }}
                    {% endif %}
                </div>
                {% endfor %}
            </fieldset>  
        </form>
        
        </div>
    </div>
    <hr>
    <div class="col-md-4"> &copy; Copyright APiClock</div>
</div>

</body>
</html>