{% extends "layout.html" %}


{% block corps %}
    <h2>Welcome</h2>

    <br />
    <font id="ur" size="20" face="Trebuchet MS, Verdana, Arial, sans-serif" color="#000000"></font>
    <br />
    
    <p class="important" style="text-align: center;">
      Page d'accueil du PiClock</p>
    <p></p>  
    <p>   - Afficher si prog de reveil il y a </p>
    <p>   - Open ID </p>
    <p>   - Affich. du rep. musique + upload</p>
    <p>   - Affich radio (flux + nom) + ajout / modif. / supp. </p>
    <p>   - Affich meteo (recup IP puis localisation ?) </p>

{% endblock %}


