{% extends "layout.html" %}

{% block corps %}
    
    <h2>APiClock - connecte</h2>

    <hr>
    <font id="ur" size="20" face="Trebuchet MS, Verdana, Arial, sans-serif" color="#000000"></font>
    <hr>
        <h3>Radio</h3>
    <ul>
        <ul>
            {% for member in radio %}
            <form action="{{ url_for('welcome') }}" method="post">
                <li> TYPE : <input type=text name="typemedia" value="{{ member.type }}"> //
                    TITLE : <input type=text name="nommedia" value="{{ member.nom }}">
                <!--  on met l'id en champ cache pour recup pour suppression  -->
                <input type="hidden" name="idmedia" value="{{ member.id }}">
                <input type=submit value="Jouer" name=jouer_radio>
                <input type=submit value="Modifier" name=modifier_radio>
                <input type=submit value="Supprimer" name=supprimer_radio >
                <br/></li>
                <li> {{ test }} </li>
            </form>
            
            {% endfor %}
        </ul><br/>
        <li>
            <form action="{{ url_for('welcome') }}" method="post">
            <fieldset>
                <legend>Ajouter</legend>
                {% for field in form %}
                <div class="form.group">
                     {% if field.type == 'SubmitField' %}
                        {{ field(class="btn btn-primary") }}

                    {% else %}
                        {% if radio is defined %}
                            {% for member in radio %}
                                {{ field.name }} {{ member.nom }}
                            {% endfor %}
                        {% else %}
                            {{ field.label }} {{ field(class="form-control") }}
                        {% endif %}

                    {% endif %}
                </div>
                {% endfor %}
            </fieldset>
        </form>

        </li>
    </ul>
        <hr>
        <h3>Podcast</h3>
    <ul>    
        <li> Afficher les podcasts </li>

        <li> Ajouter podcast</li>

    </ul>

    <hr>
        <h3>Alarmes</h3>
    <ul>
        <li> Afficher les alarmes </li>
        <li> {{ test }} </li>
        <li> Ajouter / supprimer alarmes</li>
    </ul>
    <hr>
    
        
    <audio controls="controls" autoplay="autoplay"> </audio>
    <ol>
        {% for morceaux in music %}
        <li> <a href="javascript:void(0);" onclick="playSong('{{ morceaux }}')"> {{ morceaux }} </a> </li>
        {% endfor %} 
    </ol>
<hr>
    

{% endblock %}